name: 24.10.4 LFS

on:
  workflow_dispatch:
  release:
    types: [published]
  schedule:
    - cron: "0 0 * * 0"

jobs:
  download-and-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y tar build-essential file libncurses-dev zlib1g-dev gawk git gettext libssl-dev xsltproc rsync wget unzip python3 python3-full python3-venv git-lfs
        git lfs install

    - name: Download and build OpenWrt
      run: |
        mkdir -p downloads
        cd downloads
        
        wget https://downloads.openwrt.org/releases/24.10.4/targets/ramips/mt76x8/openwrt-imagebuilder-24.10.4-ramips-mt76x8.Linux-x86_64.tar.zst
        tar -xf openwrt-imagebuilder-*.tar.zst
        
        cd openwrt-imagebuilder-*/
        sed -i 's/disabled/okay/g' target/linux/ramips/dts/mt7628an_xiaomi_mi-router-4c.dts
        
        make image PROFILE="xiaomi_mi-router-4c" PACKAGES="base-files ca-bundle dnsmasq dropbear firewall4 fstools kmod-gpio-button-hotplug kmod-leds-gpio kmod-mt7603 kmod-nft-offload libc libgcc libustream-mbedtls logd mtd netifd nftables odhcp6c odhcpd-ipv6only opkg ppp ppp-mod-pppoe swconfig uci uclient-fetch urandom-seed urngd wpad-basic-mbedtls uboot-envtools luci kmod-mt76 kmod-mtd-rw iw-full ip-full ethtool-full UDPspeeder zram-swap kmod-lib-lz4 nano netdiscover nmap luci-app-ttyd arp-scan arp-scan-database luci-mod-dashboard"

    - name: Determine release tag
      id: get_tag
      run: |
        if [ "${{ github.event_name }}" == "release" ]; then
          TAG_NAME="${{ github.event.release.tag_name }}"
        else
          TAG_NAME="openwrt-stable-24.10.4-xiaomi-4c"
        fi
        echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT

    - name: Track .bin with Git LFS
      run: |
        git lfs track "*.bin"
        git add .gitattributes

    - name: Commit .bin file to repo
      run: |
        cp downloads/openwrt-*/bin/targets/ramips/mt76x8/*.bin .
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add *.bin
        git commit -m "Add OpenWrt 24.10.4 Xiaomi 4C .bin firmware"
        git push origin HEAD:${{ github.ref_name }}

    - name: Upload files to existing release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ steps.get_tag.outputs.tag_name }}
        files: |
          *.bin
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
